<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBprKG2H5WuevNPaQeumv_QhAdzgtCsXBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>74275124142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTalk.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-talk1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-talk1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74275124142:ios:133b5d8ca499ead67a0e3f</string>
</dict>
</plist>